# Installing and importing modules

In [ ]:
try:
  !pip install annoy
  print('Installed Annoy')
except:
  print('error')

Collecting annoy
  Downloading https://files.pythonhosted.org/packages/a1/5b/1c22129f608b3f438713b91cd880dc681d747a860afe3e8e0af86e921942/annoy-1.17.0.tar.gz (646kB)
     |████████████████████████████████| 655kB 22.0MB/s
Building wheels for collected packages: annoy
  Building wheel for annoy (setup.py) ... done
  Created wheel for annoy: filename=annoy-1.17.0-cp37-cp37m-linux_x86_64.whl size=391603 sha256=17a7093be3140428bf11388e172fb9f3b342a7a6cf0763878c81b78675b9224c
  Stored in directory: /root/.cache/pip/wheels/3a/c5/59/cce7e67b52c8e987389e53f917b6bb2a9d904a03246fadcb1e
Successfully built annoy
Installing collected packages: annoy
Successfully installed annoy-1.17.0
Installed Annoy

In [ ]:
from annoy import AnnoyIndex
from scipy import spatial
import tensorflow_hub as hub
import tensorflow as tf

import matplotlib.pyplot as plt
import numpy as np
from tqdm import tqdm

import glob
import pickle
import re

from skimage.io import imread
from sklearn.metrics.pairwise import cosine_similarity
import scipy as sc

import io
import sys
import os
import time   

from PIL import Image
from numpy import asarray
import pandas as pd

# Mounting drive

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
with open('/content/drive/MyDrive/Pickle files/image_paths','rb') as f:
  image_paths = pickle.load(f)

In [ ]:
with open('/content/drive/MyDrive/Pickle files/final_dataframe','rb') as f:
  df = pickle.load(f)

In [ ]:
#df.reset_index(drop=False,inplace=True)
df

       gender  ...                                               path
0       women  ...  women/dresses/casual_and_day_dresses/56037632/...
3       women  ...  women/dresses/casual_and_day_dresses/56037632/...
4       women  ...  women/dresses/casual_and_day_dresses/56037632/...
6       women  ...  women/dresses/casual_and_day_dresses/56037632/...
8       women  ...  women/dresses/casual_and_day_dresses/62629380/...
...       ...  ...                                                ...
201831  women  ...       women/tops/t-shirts/91437517/91437517_2.jpeg
201832  women  ...       women/tops/t-shirts/91437722/91437722_0.jpeg
201833  women  ...       women/tops/t-shirts/91437753/91437753_0.jpeg
201834  women  ...       women/tops/t-shirts/91437753/91437753_1.jpeg
201835  women  ...       women/tops/t-shirts/91438020/91438020_0.jpeg

[91466 rows x 6 columns]

In [ ]:
im_ar = asarray(Image.open(final_path[0]))
im_ar.shape

(417, 152, 3)

In [ ]:
image_paths[0][0]

'/content/drive/MyDrive/women/tops/long_sleeved_tops/89728708/89728708_1.jpeg'

In [ ]:
final_path = {}
for x in df.itertuples():
  final_path[x.Index] = '/content/drive/MyDrive/'+ x.path

In [ ]:
path_in_drive = pd.DataFrame(pd.Series(final_path))
path_in_drive

                                                        0
0       /content/drive/MyDrive/women/dresses/casual_an...
3       /content/drive/MyDrive/women/dresses/casual_an...
4       /content/drive/MyDrive/women/dresses/casual_an...
6       /content/drive/MyDrive/women/dresses/casual_an...
8       /content/drive/MyDrive/women/dresses/casual_an...
...                                                   ...
201831  /content/drive/MyDrive/women/tops/t-shirts/914...
201832  /content/drive/MyDrive/women/tops/t-shirts/914...
201833  /content/drive/MyDrive/women/tops/t-shirts/914...
201834  /content/drive/MyDrive/women/tops/t-shirts/914...
201835  /content/drive/MyDrive/women/tops/t-shirts/914...

[91466 rows x 1 columns]

In [ ]:
df = pd.concat([df,path_in_drive],axis=1)
df.rename(columns={0:'path_in_drive'},inplace=True)
df

       gender  ...                                      path_in_drive
0       women  ...  /content/drive/MyDrive/women/dresses/casual_an...
3       women  ...  /content/drive/MyDrive/women/dresses/casual_an...
4       women  ...  /content/drive/MyDrive/women/dresses/casual_an...
6       women  ...  /content/drive/MyDrive/women/dresses/casual_an...
8       women  ...  /content/drive/MyDrive/women/dresses/casual_an...
...       ...  ...                                                ...
201831  women  ...  /content/drive/MyDrive/women/tops/t-shirts/914...
201832  women  ...  /content/drive/MyDrive/women/tops/t-shirts/914...
201833  women  ...  /content/drive/MyDrive/women/tops/t-shirts/914...
201834  women  ...  /content/drive/MyDrive/women/tops/t-shirts/914...
201835  women  ...  /content/drive/MyDrive/women/tops/t-shirts/914...

[91466 rows x 7 columns]

In [ ]:
df[df['path_in_drive'] == '/content/drive/MyDrive/women/skirts/maxi_skirts/90311765/90311765_3.jpeg']

       gender  ...                                      path_in_drive
142967  women  ...  /content/drive/MyDrive/women/skirts/maxi_skirt...

[1 rows x 7 columns]

In [ ]:
df.drop(index=142964,axis=0,inplace=True)

In [ ]:
files = glob.glob('/content/drive/MyDrive/npz files /*.npz')

In [ ]:
def sort_glob(file):
  file_path_dic ={}
  for f in file:
    file_path_dic[int(re.findall('[0-9]+',f)[0])] = f

  file_paths = []
  sorted_file_path = sorted(file_path_dic.items())

  for tup in sorted_file_path:
    file_paths.append(tup[1])
  
  return file_paths

In [ ]:
files = sort_glob(files)
index = [int(x.split('/')[-1][:-4]) for x in files]
len(files)

91465

In [ ]:
new_df = df[~df.index.isin(index)]
new_df

       gender  ...                                      path_in_drive
200351  women  ...  /content/drive/MyDrive/women/tops/t-shirts/912...
200353  women  ...  /content/drive/MyDrive/women/tops/t-shirts/912...
200355  women  ...  /content/drive/MyDrive/women/tops/t-shirts/912...
200357  women  ...  /content/drive/MyDrive/women/tops/t-shirts/912...
200362  women  ...  /content/drive/MyDrive/women/tops/t-shirts/912...
...       ...  ...                                                ...
201831  women  ...  /content/drive/MyDrive/women/tops/t-shirts/914...
201832  women  ...  /content/drive/MyDrive/women/tops/t-shirts/914...
201833  women  ...  /content/drive/MyDrive/women/tops/t-shirts/914...
201834  women  ...  /content/drive/MyDrive/women/tops/t-shirts/914...
201835  women  ...  /content/drive/MyDrive/women/tops/t-shirts/914...

[680 rows x 7 columns]

# Coverting image into a vector

In [ ]:
def load_img(path):

  im_ar = asarray(Image.open(path))
  img = im_ar
  img = tf.image.resize_with_pad(img,224,224)
  img = tf.image.convert_image_dtype(img, tf.float32)[tf.newaxis,...]
  return img

def get_image_feature_vectors():
  i = 0
  j = 1
  module_handle = "https://tfhub.dev/google/imagenet/mobilenet_v2_140_224/feature_vector/4"
  module = hub.load(module_handle)
  
  for pi_id,filename in zip(new_df.index,new_df['path_in_drive']):
    if i == 50:
      print(j)
      j+=1
      i = 0
    i +=1
    #print("image count           :%s"%i)

    img = load_img(filename)
    features = module(img)
    #print(features)
    feature_set = np.squeeze(features)
    #print(feature_set)
    #print(feature_set.shape)
    np.savez('/content/drive/MyDrive/npz files /'+str(pi_id)+'.npz',feature_set)

In [ ]:
get_image_feature_vectors()

1
2
3
4
5
6
7
8
9
10
11
12
13

In [ ]:
i = np.load('/content/drive/MyDrive/npz files /3.npz')
i['arr_0']

array([2.3490744 , 0.9729177 , 0.        , ..., 0.        , 0.        ,
       0.01716174], dtype=float32)